<!DOCTYPE html>
{{ if .Meta -}}
<html lang="{{ .Meta.LanguageTag }}">
{{ else -}}
<html lang="en">
{{ end -}}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://speedtest.kamel.network/style.css">
<title>{{ .Title }} — manpages - Kamel Networks</title>
<style type="text/css">
{{ template "style" }}
</style>
<link rel="search" title="Debian manpages" type="application/opensearchdescription+xml" href="/opensearch.xml">
{{ if and (.HrefLangs) (gt (len .HrefLangs) 1) -}}
{{ range $idx, $man := .HrefLangs -}}
<link rel="alternate" href="/{{ $man.ServingPath }}.html" hreflang="{{ $man.LanguageTag }}">
{{ end -}}
{{ end -}}
</head>
<body>
<header>
	<div class="container">
		<a id="a-title" href="/">
		<h1>manpages</h1>
		</a>
   <p id="breadcrumbs">&nbsp;
     {{- range $i, $b := .Breadcrumbs }}
     {{ if eq $b.Link "" }}
     &#x2F; {{ $b.Text }}
     {{ else }}
     &#x2F; <a href="{{ BaseURLPath }}{{ $b.Link }}">{{ $b.Text }}</a>
     {{ end }}
     {{ end -}}
   </p>

	</div>
	<div id="searchbox">
		<form action="{{ BaseURLPath }}/jump" method="get">
		{{ if .Meta -}}
		<input type="hidden" name="suite" value="{{ .Meta.Package.Suite }}">
		<input type="hidden" name="binarypkg" value="{{ .Meta.Package.Binarypkg }}">
		<input type="hidden" name="section" value="{{ .Meta.Section }}">
		<input type="hidden" name="language" value="{{ .Meta.Language }}">
		{{ end -}}
		<input type="text" name="q" placeholder="manpage name" required>
		<input type="submit" value="Jump">
		</form>
	</div>
</header>
</div>
<div id="content">
