{{ template "header" . }}

<div class="container" style="max-width: 1000px">
<div class="maincontents">

<center><img src="https://raw.githubusercontent.com/kamelnetworks/site/master/kamelnetworks.png" width="250px"></center>
<h1>Kamel Network's manpages repository</h1>

<p>
  You’re looking at a complete repository of all manpages contained in
  Debian.<br>There are a couple of different ways to use this
  repository:
</p>

<ol>
  <li style="margin-bottom: .5em">
    <form method="GET" action="{{ BaseURLPath }}/jump">
      Directly jump to manpage:
      <input type="text" name="q" autofocus="autofocus" placeholder="manpage name">
      <input type="submit" value="Jump to manpage">
    </form>
  </li>

  <li style="margin-bottom: .5em">
    Browse the repository index:
    <ul>
      {{ range $idx, $suite := .Suites }}
      <li>
	<a href="{{ BaseURLPath }}/contents-{{ $suite }}.html">Debian {{ $suite }}</a>
      </li>
      {{ end }}
    </ul>
  </li>

</ol>
<div id="footer" style="margin: 0">
{{ if ne .FooterExtra "" }}
<p>{{ .FooterExtra }}</p>
{{ else }}
<p>Page last updated {{ Now }}</p>
{{ end }}
</div>
</div>
